/* Task 1 */
a:link {
  background-color: black;
}

a:visited {
  background-color: aqua;
}

a:hover {
  background-color: yellow;
}

a:active {
  background-color: red;
}
/* Task 2 */
p:first-letter {
  color: blueviolet;
}
/* Task 3 */
h2 + p::first-line {
  color: red;
}
/* Task 4 */
input:hover {
  background-color: red;
}
input:focus {
  background-color: aqua;
}