header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}


/* Task 1 */

/* Task 2 */

/* Task 3 */

/* Task 4 */